* {
    margin:0;
    padding:0;
}


body {
    background-color: #E2E8F0;
}


.swal2-actions {
    display: flex;
    justify-content: center;
    gap:8px;

    .swal2-cancel{
        background-color: #4CAF50;
        border:none;
        padding:4px 8px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }

    .swal2-confirm{
        
        background-color: #F5365C;
        border:none;
        padding:4px 8px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
}


.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    .current{
        background-color:#007bff;
    }

    span {
        margin:0px 2px;
        background-color: #ccc;
        padding:0px 8px;
        border-radius: 3px;
    }

    span > a{
        text-decoration: none;
    }
}

